Repository gbrantzos/sample-ng: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx js-beautify --type html -r

.lintstagedrc:

{
    "*.ts": "npx prettier --write",
    "*.html": "npx js-beautify --type html -r"
}

Add Husky hooks
  .eslintrc.json
  .husky/pre-commit
  apps/oms/src/app/app.component.ts
  package-lock.json
  package.json
Due: npx prettier --write

Add test scripts
  package.json
Due: none

Update Angular
  package-lock.json
  package.json
Due: none

Various changes
  .editorconfig
  apps/oms/src/app/app.component.html
  apps/oms/src/app/app.component.ts
  apps/oms/src/app/app.config.ts
  apps/oms/src/app/app.routes.ts
  apps/oms/src/app/core/services/router-listener.service.spec.ts
  apps/oms/src/app/core/services/router-listener.service.ts
  apps/oms/src/app/domains/orders/features/order-edit/order-edit.component.html
  apps/oms/src/app/domains/orders/features/order-edit/order-edit.component.scss
  apps/oms/src/app/domains/orders/features/order-edit/order-edit.component.spec.ts
  apps/oms/src/app/domains/orders/features/order-edit/order-edit.component.ts
  apps/oms/src/app/domains/orders/features/order-list/order-list.component.html
  apps/oms/src/app/domains/orders/features/order-list/order-list.component.scss
  apps/oms/src/app/domains/orders/features/order-list/order-list.component.spec.ts
  apps/oms/src/app/domains/orders/features/order-list/order-list.component.ts
  apps/oms/src/app/domains/orders/index.ts
  apps/oms/src/app/domains/orders/orders.routes.ts
  tsconfig.json
Due: npx prettier --write, npx js-beautify --type html -r

Introduce Angular Material
  angular.json
  apps/oms/src/app/app.component.html
  apps/oms/src/app/app.component.ts
  apps/oms/src/app/app.config.ts
  apps/oms/src/index.html
  apps/oms/src/styles.scss
  package-lock.json
  package.json
Due: npx prettier --write, npx js-beautify --type html -r

Minor changes - renames
  apps/oms/src/app/app.component.scss
  apps/oms/src/app/app.component.ts
  apps/oms/src/app/core/services/navigation-listener.service.ts
  apps/oms/src/app/core/services/router-listener.service.spec.ts
Due: npx prettier --write

Add fontawesome and Comfortaa font
  apps/oms/src/app/domains/orders/features/order-list/order-list.component.html
  apps/oms/src/assets/fonts/comfortaa/comfortaa-v45-greek_latin-300.woff2
  apps/oms/src/assets/fonts/comfortaa/comfortaa-v45-greek_latin-700.woff2
  apps/oms/src/assets/fonts/comfortaa/comfortaa-v45-greek_latin-regular.woff2
  apps/oms/src/assets/fonts/fontawesome/fa-brands-400.ttf
  apps/oms/src/assets/fonts/fontawesome/fa-brands-400.woff2
  apps/oms/src/assets/fonts/fontawesome/fa-regular-400.ttf
  apps/oms/src/assets/fonts/fontawesome/fa-regular-400.woff2
  apps/oms/src/assets/fonts/fontawesome/fa-solid-900.ttf
  apps/oms/src/assets/fonts/fontawesome/fa-solid-900.woff2
  apps/oms/src/assets/fonts/fontawesome/fa-v4compatibility.ttf
  apps/oms/src/assets/fonts/fontawesome/fa-v4compatibility.woff2
  apps/oms/src/assets/styles/comfortaa.scss
  apps/oms/src/assets/styles/fontawesome.scss
  apps/oms/src/index.html
  apps/oms/src/styles.scss
  libs/ui-blocks/src/lib/ui-blocks.component.ts
Due: npx prettier --write, npx js-beautify --type html -r

Add new scripts on package.json
  .gitignore
  apps/oms/src/assets/styles/comfortaa.scss
  apps/oms/src/assets/styles/fontawesome.scss
  package-lock.json
  package.json
  prepare.build-info.ts
Due: npx prettier --write

Add bump package, minor fixes
  .eslintrc.json
  package-lock.json
  package.json
Due: none

Release v0.1.0
  package.json
Due: none

Update Angular to v16.2.3
  package-lock.json
  package.json
Due: none

Added GitHub actions
  .github/workflows/angular.yml
  package.json
Due: none

Fix broken unit tests
  apps/oms/src/app/app.component.html
  apps/oms/src/app/app.component.spec.ts
Due: npx prettier --write, npx js-beautify --type html -r

Minor changes
  .github/workflows/angular.yml
  README.md
Due: none
